@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moveLogo 2s 3s forwards;
}


@keyframes moveLogo {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  100% {
    top: 0;
    left: 15px;
    transform: translate(0, 0);
  }
}


.label {
  height: 45px;
  width: 100px;
  background-color: #ffffff;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.label:hover {
  -webkit-transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
  transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
}

#checkbox:checked~.label:hover {
  -webkit-transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
  transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
}

#checkbox {
  display: none;
}

#checkbox:checked~.label::before {
  left: 60px;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 70%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.label::before {
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #000000;
  background-image: linear-gradient(130deg,
      #757272 10%,
      #ffffff 11%,
      #726f6f 62%);
  left: 10px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3),
    10px 10px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 800px) {
  .label {
    height: 30px;
    width: 70px;
  }

  .label::before {
    height: 25px;
    width: 25px;
  }

  #checkbox:checked~.label::before {
    left: 40px;
  }
  .arrows{
    display: hidden;
  }
}



.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: #fff;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #02002a;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #363636;
}



/* :root {
  --bg-color-light: #f0f4f8;
  --gradient-1-light: rgba(173, 216, 230, 0.7);
  --gradient-2-light: rgba(144, 238, 144, 0.6);
  --gradient-3-light: rgba(255, 182, 193, 0.6);
  --gradient-4-light: rgba(255, 218, 185, 0.5);
  --gradient-5-light: rgba(221, 160, 221, 0.5);
  --gradient-6-light: rgba(176, 224, 230, 0.6);
  --gradient-7-light: rgba(255, 228, 196, 0.5);

  --bg-color-dark: #0e0860;
  --gradient-1-dark: rgba(4, 74, 104, 0.7);
  --gradient-2-dark: rgba(1, 36, 16, 0.6);
  --gradient-3-dark: rgba(83, 7, 134, 0.6);
  --gradient-4-dark: rgba(20, 32, 64, 0.5);
  --gradient-5-dark: rgba(66, 35, 47, 0.5);
  --gradient-6-dark: rgba(17, 5, 69, 0.6);
  --gradient-7-dark: rgba(50, 29, 83, 0.5);
} */

:root {
  --bg-color-light: #605d5b;
  --gradient-1-light: rgba(161, 157, 150, 0.7);
  --gradient-2-light: rgba(89, 75, 75, 0.6);
  --gradient-3-light: rgba(121, 121, 115, 0.6);
  --gradient-4-light: rgba(121, 117, 113, 0.5);
  --gradient-5-light: rgba(129, 125, 122, 0.5);
  --gradient-6-light: rgba(86, 90, 101, 0.6);
  --gradient-7-light: rgba(77, 69, 66, 0.5);

  --bg-color-dark: #020212;
  --gradient-1-dark: rgba(40, 40, 40, 0.7);
  --gradient-2-dark: rgba(30, 30, 30, 0.6);
  --gradient-3-dark: rgba(28, 30, 43, 0.6);
  --gradient-4-dark: rgba(22, 18, 41, 0.5);
  --gradient-5-dark: rgba(21, 24, 77, 0.5);
  --gradient-6-dark: rgba(20, 20, 20, 0.6);
  --gradient-7-dark: rgba(14, 17, 97, 0.5);
}

.dark {
  --bg-color: var(--bg-color-dark);
  --gradient-1: var(--gradient-1-dark);
  --gradient-2: var(--gradient-2-dark);
  --gradient-3: var(--gradient-3-dark);
  --gradient-4: var(--gradient-4-dark);
  --gradient-5: var(--gradient-5-dark);
  --gradient-6: var(--gradient-6-dark);
  --gradient-7: var(--gradient-7-dark);
}

:root:not(.dark) {
  --bg-color: var(--bg-color-light);
  --gradient-1: var(--gradient-1-light);
  --gradient-2: var(--gradient-2-light);
  --gradient-3: var(--gradient-3-light);
  --gradient-4: var(--gradient-4-light);
  --gradient-5: var(--gradient-5-light);
  --gradient-6: var(--gradient-6-light);
  --gradient-7: var(--gradient-7-light);
}

.cool-bg {
  background-color: var(--bg-color);
  background-image:
    radial-gradient(at 83% 67%, var(--gradient-1) 0, transparent 58%),
    radial-gradient(at 67% 20%, var(--gradient-2) 0, transparent 59%),
    radial-gradient(at 88% 35%, var(--gradient-3) 0, transparent 50%),
    radial-gradient(at 31% 91%, var(--gradient-4) 0, transparent 52%),
    radial-gradient(at 27% 71%, var(--gradient-5) 0, transparent 49%),
    radial-gradient(at 74% 89%, var(--gradient-6) 0, transparent 51%),
    radial-gradient(at 53% 75%, var(--gradient-7) 0, transparent 45%);
}

.slide-out-top {
	-webkit-animation: slide-out-top 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-top 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
    opacity: 0;
  }
}


.carousel{
  height: 100%;
  /* margin-top: -50px; */
  width: 100%;
  background-color: brown;
  overflow: hidden;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  /* position: relative; */
}
.carousel .list .item{
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.carousel .list .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(75%);
}

/* .carousel .list .item .buttons{
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
} */
/* .carousel .list .item .buttons button{
  border: none;
  background-color: #eee;
  letter-spacing: 3px;
  font-family: Poppins;
  font-weight: 500;
}
.carousel .list .item .buttons button:nth-child(2){
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
} */
/* thumbail */

.fade-in {
  opacity: 0;
  transform: translateY(20px); /* Start slightly below */
  animation: fadeInUp 0.5s ease forwards;
  animation-delay: 1.5s; /* Delay of 1.5 seconds */
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0); /* Move to normal position */
  }
}

.thumbnail .item{
  width: 110px;
  height: 150px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .content{
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.thumbnail .item .content .title{
  font-weight: 500;
}
.thumbnail .item .content .description{
  font-weight: 300;
}
/* arrows */
.arrows{
  position: absolute;
  bottom: 2%;
  right: 5%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}
/* .arrows button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: .5s;
}
.arrows button:hover{
  background-color: #fff;
  color: #000;
} */

/* animation */
.carousel .list .item:nth-child(1){
  z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
  to{
      transform: translateY(0px);
      filter: blur(0px);
      opacity: 1;
  }
}
.carousel .list .item:nth-child(1) .content .title{
  animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
  animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
  animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
  animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
  width: 110px;
  height: 170px;
  position: absolute;
  bottom: 50px;
  left: 60%;
  border-radius: 30px;
  animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
  to{
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1){
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
  z-index: 100;
}
@keyframes showThumbnail{
  from{
      width: 0;
      opacity: 0;
  }
}
.carousel.next .thumbnail{
  animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
  from{
      transform: translateX(150px);
  }
}

/* running time */

.carousel .time{
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: #f1683a;
  left: 0;
  top: 0;
}

.carousel.next .time,
.carousel.prev .time{
  animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
  from{ width: 100%}
  to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame{
  to{
      width: 110px;
      height: 170px;
      bottom: 50px;
      left: 60%;
      border-radius: 20px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1){
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
  pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
  animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
  to{
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .carousel .list .item .content{
      padding-right: 0;
  }
  .carousel .list .item .content .title{
      font-size: 30px;
  }
}